.underline{
  font-size: 2.5em;
  text-decoration: none; 
  border: 0;
  border-radius: .1em;
  border-bottom: 4px solid;
  border-image: linear-gradient(to left, #43cea2, #185a9d);
  border-image-slice: 1;
  transition: .2s all ease-in-out;
  padding: .25em .5em; 
  margin:50px;
}
.parrallax-medium{
	height:250px;
}
.nav-wrapper li{
	width:25%;
}
nav{
  overflow: hidden;
}
.sideNav{
  display: none;
}
nav .row{
  width:90%;
}
@media screen and (max-width: 720px){
.fullNav{
  display: none;
}  
}
@media screen and (max-width: 719px){
.sideNav{
  display: block;
}  
}

header{
	padding:0px;
}

.headerTop{
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.headerTop h2, .headerTop h3{
	font-family: 'Arvo', serif;
	color:white;
}
.aboutMe{
  font-family: 'Arimo', sans-serif;
  font-size: 25px;

}
.skills div{
	width:20%;
}
.list-icon{
  width:2rem;
  transition: all .2s ease-in-out;
  cursor: default;
}
.list-icon:hover{
  transform: scale(1.3); 
}
.priority-content{
  height:350px;
  margin-bottom: 30px;
}
.priority-title{
  padding: 5px; 
  font-size:2rem;
}
.priority-title-underline{
  width:50%;
  margin:auto;
  text-decoration: none; 
  border: 0;
  border-radius: .1em;
  border-bottom: 2px solid rgba(24, 90, 157, .75);
  transition: .2s all ease-in-out;
}

.priority-text{
  padding: 0;
  font-size: 1 rem;

}
.priority-image img{
  padding: 10px 0 10px 0;
  height: 200px;
  width: 200px;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}
.aboutMe img{
  height:400px;
  margin: auto;
}
.workexperience{  
  margin:40px;
  border-radius: 10px;
  background: #43cea2;
  background: -webkit-linear-gradient(to right, rgba(24,90,157,.15), rgba(67,206,162,.15));
  background: linear-gradient(to right, rgba(24,90,157,.15), rgba(67,206,162,.15));
}
.workExperience  h3, h6, h5, h4, p {
  padding:5px;
  margin-left: 0rem;
}
.workexperience img {
  padding: 10px;
  height: 190px;
  width: 200px;
  transition: all .2s ease-in-out;

}
.workexperience img:hover{
  transform: scale(1.1);
}
.workExperienceHeader{
  margin:50px;
}

footer{
  background-color: #808080
}
footer img{
  width: 100px;
  height: 100px;
  transition: all .2s ease-in-out;
}
footer img:hover{
  transform:scale(1.2);
  cursor: pointer;
}