.underline{
  font-size: 2.5em;
  text-decoration: none; 
  border: 0;
  border-radius: .1em;
  border-bottom: 4px solid;
  border-image: linear-gradient(to left, #43cea2, #185a9d);
  border-image-slice: 1;
  transition: .2s all ease-in-out;
  padding: .25em .5em;
}
.parrallax-medium{
	height:250px;
}
.nav-wrapper li{
	width:25%;
}
nav{
  overflow: hidden;
}
header{
	padding:0px;
}
.headerTop{
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.headerTop h2, .headerTop h3{
	font-family: 'Arvo', serif;
	color:white;
}
.aboutMe{
  font-family: 'Arimo', sans-serif;
}
.aboutMeParagraph{
  font-size: 25px;
}
.skills div{
	width:20%;
}
.list-icon{
  width:2rem;
  transition: all .2s ease-in-out;
}
.list-icon:hover{
  transform: scale(1.3); 
}
.priorityCard
{
  border-radius: 10px 10px 0px 0px;
  height: 300px;
}
.priority p{
  margin:0;
  background-color: rgb(240,240,240);
}
.priority span{
  margin:0;
}
.priority img {
  background-color: rgba(76, 203, 255,.1);
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}

